@model IEnumerable<Polly.Models.Poll>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Polly.NET!</h1>
    @if (Request.IsAuthenticated)
    {
        <p class="lead">Welcome to Polly! You can @Html.ActionLink("Create", "Create", "Polls") your own polls!</p>
    }
    else
    {
        <p class="lead">Welcome to Polly! @Html.ActionLink("Sign up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) or @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to Create your own polls.</p>
    }
</div>

<h3> Latest Polls</h3>

<div class="row">
    @foreach (var poll in Model)
    {
        <div class="col-md-4 col-lg-3 text-center">
            <div class="well">
                <i class="fa fa-pie-chart" aria-hidden="true"></i>   @Html.ActionLink(poll.Title, "Details", "Polls" ,new { id = poll.Id }, null)
            </div>
        </div>
    }

</div>